sortie-1/DCS UPT - Sortie 1.md
sortie-1/_sources
_site
undergraduate-pilot-training.code-workspace
sortie-2/_source/delay turn.afdesign~lock~
sortie-2/_source/delay turn.afdesign~lock~
sortie-2/_source/delay turn.afdesign~lock~
sortie-2/_source/delay turn.afdesign~lock~
*.afdesign~lock~
*.afdesign
/sortie-2/_source
